{% extends "layout.html" %}

{% block content %}
{% block css %} <link rel="stylesheet" href="css/main.css"> {% endblock %}

<div >
    <img class="cli" src="file:///C:/Users/Omar/Desktop/vef/verk4/my-recipes.svg" alt="">
    <p class="tab">Starter </p>
    <p class="tab">Main</p>
    <p class="tab">Courses</p>
    <p class="tab">Desserts</p>
    <p class="tab">Drinks</p>

</div>
<h1 class="font">My Recipes </h1>

<div class="vcard">

{% for post in posts %}

    <div class="omar">

        <article class="card">
            <header>
                <img src="{{ post.thumbnail }}">
            </header>
            <footer>
                <h2>{{ post.title }}</h2>
                <small>{{ post.date }}</small>
                <p>
                    {{ post.summary}}
                </p>
                <a class="button" href="posts/{{ post.slug }}.html">Recipe</a>
                <br>
                {% set list_of_tags = post.tags.split(",") %}
                {% for tag in list_of_tags %}
                    <button class="col">{{ tag }}</button>
                {% endfor %}
            </footer>
            
        </article>

    </div>

<!-- 
    <p>
            <h2>{{loop.index}}: <a href="posts/{{ post.slug }}.html">{{post.title}}</a> <small>{{post.date}}</small></h2>
            {{post.summary}}
        </p> -->

{% endfor %}

</div>

{% endblock %}