<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="css/main.css">    
    <title>Document</title>
    <div >
        <img class="cli" src="file:///C:/Users/Omar/Desktop/vef/verk4/my-recipes.svg" alt="">
        <p class="tab">Starter </p>
        <p class="tab">Main</p>
        <p class="tab">Courses</p>
        <p class="tab">Desserts</p>
        <p class="tab">Drinks</p>
    
    </div>
    <div>
        <p>Í 4. verkefni búum við til nýja forsíðu á uppskriftarvefinn og notum SVG tákn í lógó og leturtákn í
            efnisyfirliti. Til að byrja með notum við vefsíðurnar úr 3. verkefni sem undirsíður og höfum aðra tengla í
            efnisyfirlitinu óvirka. </p>
    </div>
</head>
<body>
    
</body>
</html>
